/*

all - всі пристрої (працює за змовчуванням)

screen - всі пристрої, які не потрапляють в категорію print

print - принтери та пристрої, які виводять сторінку для друку


  media feature:
* min-width -- від значення і далі  (min-width: 300px) - від 300рх до бескінечності
* max-width -- до значення          (max-width: 300px) - від 0рх до 300рх

        * 0 * =============> *300* ===============> *infinity*


  Оператори комбінування медіа-правил

  and - і (99%)

  , or - або

  not - заперечення

  only - тільки за певних умов

*/

/* .page {
  background-color: rgb(72, 72, 72);
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 72px;
  }
} */

/* Base-mobile 320px + */
.page {
  background-color: blueviolet;
}

/* Mobile 480 + */
@media screen and (min-width: 480px) {
  .page {
    background-color: teal;
  }
}

/* Tablet 768px + */
@media screen and (min-width: 768px) {
  .page {
    background-color: aquamarine;
  }
}

/* Desktop 1200px + */
@media screen and (min-width: 1200px) {
  .page {
    background-color: tomato;
  }
}

/* Mobile only 0 - 767px */
@media screen and (max-width: 767px) {
  .page {
    background-color: goldenrod;
  }
}

/* Tablet only 768px - 1199px */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page {
    background-color: white;
  }
}

/* Not desktop 0 - 1199px */
@media screen and (max-width: 1199px) {
  .page {
    background-color: gold;
  }
}

/* Mobile & desktop 0 - 767px & 1200px + */
@media screen and (max-width: 767px), (min-width: 1200px) {
  .page {
    background-color: blueviolet;
  }
}

/* For printers */
@media print {
  ul {
    display: none;
  }

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 25px;
  }
}

/* Портретна орієнтація */
@media (orientation: portrait) {
}
/* Альбомна орієнтація */
@media (orientation: landscape) {
}
