.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000000;
}

.text {
  width: 60vw;
  font-family: Teko, sans-serif;
  font-size: 150px;
  font-weight: 700;

  background-image: url(../images/test/unsplash.jpg);
  background-size: contain;
  background-position: center;

  /*
  =================================
  | Налаштування відображення тексту
  | з ефектом прозорості
  =================================
  */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #2a9f2a;
  -webkit-text-stroke-width: 1px;

  /* text-shadow: 10px 10px 10px rgb(42, 159, 42, .15); */
}
