.subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.subtitle--mode-light {
  color: var(--main-txt--mode-light);
}

.subtitle--mode-dark {
  color: var(--main-txt--mode-dark);
}
