.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
}

.socials-icon {
  fill: var(--icon-cl);
  transition: fill 400ms;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-cl);
}
